.unorder-list {
  margin-left: 15rem;
}
.carosal-img {
  filter: brightness(60%);
}
.carousel-caption-text {
  transform: translatey(-50%) !important;
  bottom: inherit;
  top: 50%;
}
.working-img {
  width: 100%;
}
.explore-institute {
  padding-top: 6rem;
  padding-left: 1rem;
}

@media only screen and (max-width: 768px) {
  .carousel-caption-paragraph {
    font-size: 10px;
  }
  .carousel-btn {
    padding: 1px 4px;
  }
  .carosel-heading {
    font-size: 20px;
  }
}

@media only screen and (max-width: 578px) {
  .course-img {
    width: 100% !important;
  }
  .course-description {
    padding-left: 20px;
  }
}
